
.custom-navbar {
    background-color: #2B500D;
    font-family: 'Inter', sans-serif;
}
.custom-navbar .nav-link{
    color: white;
    padding: 0.5rem 1rem;
}
.custom-navbar .nav-link:hover {
    color: #D7EC1A;
}
.custom-navbar .navbar-collapse {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
.custom-navbar .navbar-nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex: 1; 
    margin-left: auto;
    margin-right: auto;
}
.custom-navbar .nav-link.active{
    color: white !important;
}

.container{
    background-color: antiquewhite;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.location-input{
    margin: 2rem 0;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inputs input{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;

}

.icon{
    font-size: 1.2rem;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}

.tour-type .options, .animal-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5rem;
}

.option, .animal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;

}

.option img, .animal img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.animal.selected img {
    border: 3px solid green;
}

.start-button{
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: #3b5f2c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.ai-moose{
    position: absolute;
    top: 30%;
    right: -80px;
    text-align: center;
}

.ai-moose img{
    width: 120px;
    height: auto;
}

.speech-bubble{
    background-color: #fff;
    border: 1px solid #444;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    width: 120px;
    font-size: 0.85rem;
}
.d-flex{
    gap: 1rem;
    margin-right: 1rem;
}
footer {
    background-color: #A9B260;
    padding: 2rem;
    color: #5F3712;
    font-family: 'Inter', sans-serif;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 2rem;
}
  
.footer-left {
    max-width: 300px;
}
  
.footer-left img {
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}
  
.footer-left p {
    margin: 0;
    font-size: 1rem;
}
  
.footer-right {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
  
.footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.footer-column p {
    margin: 0;
    font-size: 1rem;
}
footer a {
    text-decoration: none;
    color: inherit;
}
  
  
