
.custom-navbar {
    background-color: #2B500D;
    font-family: 'Inter', sans-serif;
}

.photos{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.container{
    background-color: antiquewhite;
}


