body {
    background-color: #FFFCF9;
}
.custom-navbar {
    background-color: #2B500D;
    font-family: 'Inter', sans-serif;
}
.custom-navbar .nav-link{
    color: white;
    padding: 0.5rem 1rem;
}
.custom-navbar .nav-link:hover {
    color: #D7EC1A;
}
.custom-navbar .navbar-collapse {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
.custom-navbar .navbar-nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex: 1; 
    margin-left: auto;
    margin-right: auto;
}
.custom-navbar .nav-link.active{
    color: white !important;
}
.d-flex{
    gap: 1rem;
    margin-right: 1rem;
}


/*fonts*/ 

h1 {
  font-family: 'Katibeh';
  font-weight: 400;      
  font-size: 80px;       
  line-height: 120%;      
  letter-spacing: 0.05em; 
}

.body-2 {
  font-family: 'Inter';
  font-weight: 400;         
  font-size: 16px;         
  line-height: 140%;          
}

.body-1-bold {
  font-family: 'Inter';
  font-weight: 700;         
  font-size: 19px;         
  line-height: 140%;            
}

/* footer */
footer {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #A9B260;
    color: #5F3712;
    font-size: 0.9rem;
}
  
footer div {
    display: flex;
    gap: 1.5rem;
}
  
footer div:last-child {
    justify-content: flex-end;
}
footer a {
    text-decoration: none;
    color: inherit;
}
  
  