/* Body */
body {
    background-color: #fffaf4;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-image: 
    url("../Bilder/footprint.png"),
    url("../Bilder/bird-footprint.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
    background-size: 20rem, 30rem;
}

/* navbar */
.custom-navbar {
    background-color: #2B500D;
    font-family: 'Inter', sans-serif;
}

.navbar-brand {
    margin-left: 4rem;
}
.custom-navbar .nav-link.active span {
    font-weight: bold;
    color: white !important;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid #D7EC1A;
    padding-bottom: 0.2rem;
}
.custom-navbar .nav-link{
    color: white;
    padding: 0.5rem 1rem;
}
.custom-navbar .nav-link:hover {
    color: #D7EC1A;
}
.custom-navbar .navbar-collapse {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}
.custom-navbar .navbar-nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex: 1; 
    margin-left: auto;
    margin-right: auto;
}
.custom-navbar .nav-link.active{
    color: white !important;
}
.d-flex{
    gap: 1rem;
    margin-right: 4rem;
}

/*fonts*/ 
h1 {
    font-family: 'Katibeh';
    font-weight: 400;      
    font-size: 80px;       
    line-height: 120%;      
    letter-spacing: 0.05em; 
}
  
.body-2 {
    font-family: 'Inter';
    font-weight: 400;         
    font-size: 16px;         
    line-height: 140%;          
}
  
.body-1-bold {
    font-family: 'Inter';
    font-weight: 700;         
    font-size: 19px;         
    line-height: 140%;            
}

/* Content */ 
.registrer-title {
    margin: 4rem;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 64px;
    margin-bottom: 8rem;
}

/* Images */ 
.image-upload {
    flex: 1;
    min-width: 300px;
}

.big-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    max-height: 400px;
}

.small-images {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.small-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.add-new-image {
    width: 60px;
    height: 60px;
    border: 2px dashed #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #666;
    border-radius: 8px;
    cursor: pointer;
}

/* form */
.form-section {
    flex: 1;
    min-width: 300px;
    margin-right: 4rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
}

.submit-button {
    padding: 0.75rem;
    width: 100%;
    background-color: #2B500D;
    color: white;
    font-weight: 200;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit-button:hover{
    background-color: #A9B260;
}

/* footer */
footer {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #A9B260;
    color: #5F3712;
    font-size: 0.9rem;
}
  
footer div {
    display: flex;
    gap: 1.5rem;
}
  
footer div:last-child {
    justify-content: flex-end;
}
footer a {
    text-decoration: none;
    color: inherit;
}
  